.app-container {
    display: grid;
    grid-template-columns: 0.07fr 0.07fr 0.07fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: "header header header header" "sectionOne sectionTwo sectionThree content";
}

.header {
    grid-area: header;

}

.content {
    grid-area: content;
    height: 100vh;
    overflow: scroll;
    background-color: #ffffff;
    padding: 50px;

}

.container {
    display: grid;
    grid-template-areas: 'heading' 'acc' 'star' 'media';

}

.heading {
    grid-area: heading;

}

.acc-title {
    grid-area: acc;

}

.star {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 30px;
    grid-area: star;
    display: grid;
    grid-template-columns: 0.04fr 1fr;
    grid-template-rows: auto;

}

.star-title {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2980B9;
    color: white;
    margin-bottom: 5px;

}

.star-content {
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;

}

.media {
    grid-area: media;
    padding-top: 30px;
    /*max-height: 200px;*/
    /*max-width: 500px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center

}

.o-c{

    /*padding-right: 40px;*/
    /*padding-left: 40px;*/
    padding:40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap:3px ;
}

.overlay {
    display: grid;
    grid-auto-rows: 15px minmax(40px,auto) minmax(25px,auto);
    grid-template-columns: 20px 20px 2fr;

}

.small {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/3;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.small h1 {
    color: white;

}

.big {
    background-color: #919191;
    grid-row: 1/4;
    grid-column: 2/4;




}
.big .inside{
    background-color: #bababa;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.me{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
}
.me-c{
    grid-column: 2;
}



.app-containerr {
    display: grid;
    grid-template-columns: 0.1fr 2fr 4fr;
    height: 78vh;
    overflow: scroll;
    color: white;
    font-family: 'Roboto', sans-serif;

    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: auto;*/
    /*overflow: scroll;*/

    /*padding: 10px;*/
}
.active{
    color:blue;
}


.skills-c{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.skills-i{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,80px);

}






