.app-container{
  display: grid;
  grid-template-columns: 0.07fr 0.07fr 0.07fr 1fr;
  grid-template-rows: auto;


  grid-template-areas:
          "header header header header"
          "sectionOne sectionTwo sectionThree content"  ;
}
.header {
  grid-area: header;




}

.sectionOne {
  grid-area: sectionOne;
  overflow: scroll;
  background-color: #f0f0f0;



}

.sectionTwo {
  grid-area: sectionTwo;
  height: 100vh;
  overflow: scroll;
  background-color: #f5f5f5;

}
.sectionThree {
  grid-area: sectionThree;
  height: 100vh;
  overflow: scroll;
  background-color: #f9f9f9;

}
.content {
  grid-area: content;
  height: 100vh;
  overflow: scroll;
  background-color: #ffffff;
  padding: 50px;


}









.container {
  display: grid;
  grid-template-areas:
          'heading'
          'acc'
          'star'
          'media';

}

.heading {
  grid-area: heading;



}

.acc-title {
  grid-area: acc;



}

.star {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 30px;
    grid-area: star;
    display: grid;
    grid-template-columns: 0.04fr 1fr;
    grid-template-rows: auto;



}
.star-title{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2980B9;
  color: white;
    margin-bottom: 5px;

}
.star-content{




  color: black;
    margin-left: 10px;
    margin-bottom: 5px;




}

.media {
  grid-area: media;
    padding-top:30px;
  /*max-height: 200px;*/
  /*max-width: 500px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center



}



.overlay{
  display: grid;
  grid-template-rows: 50px 100px 50px;
  grid-template-columns: 50px 1fr 2fr;
}

.small{
  background-color: #0074D9;
  grid-row: 2/3;
  grid-column: 1/3;

}
.small h1{
  color:white;

}

.big{
  background-color: #919191;
  grid-row: 1/4;
  grid-column: 2/4;
}


.app-containerr{
    display: grid;
    grid-template-columns: 0.1fr 2fr 4fr;
    height: 78vh;
    overflow: scroll;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: auto;*/
    /*overflow: scroll;*/


    /*padding: 10px;*/
    font-family: "Century Gothic", CenturyGothic, AppleGothic;
}
.backg{
    background: url(wb2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:-40px;
}



